.my-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 8000;
}

.my-overlay-popup-blocked {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #feedd3;
    top: 25%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    z-index: 9000;
    padding: 3%;
}

.my-overlay-message {
    color: #882f01;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.my-overlay-image {
    width: 30%;
}

.my-overlay-button-finished {
    margin: 3%;
    padding: 12px 28px;
    background-color: #35957d;
    border : solid #35957d;
    border-radius: 2em;
    font-family: Helvetica;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: bolder;
    transition: transform 0.4s;
    cursor: pointer;
}

.my-overlay-button-not-finished {
    padding: 12px 28px;
    background-color: #c15952;
    border : solid  #c15952;
    border-radius: 2em;
    font-family: Helvetica;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: bolder;
    transition: transform 0.4s;
    cursor: pointer;
}

.my-overlay-button-not-finished:hover,
.my-overlay-button-finished:hover {
    transform: scale(1.1)
}