body {
    display : flex ;
    flex-direction: column;
    padding: 1em;
    width: 350px;
    background-color: transparent;
    border-radius: 10px;
    gap : 1em;

}
   

img {
    width: 30%;
}
.footer-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    color :rgb(2, 37, 25);
    background-color: #04AA6D;
    margin: auto;
    border-radius: 2em;
    padding: 5%;
    transition: transform 0.4s;
    
}

button:hover {
    background-color: bisque;
    transform: scale(1.1)
}

input {
    background-color: bisque;
    border : 1px;
    border-radius: 0.5em;
    margin-top :0.5em;
    width:51.5%;
    
}
 select, textarea {
margin-top: 0.5em;
 }
 textarea {
    width:51.5% ;
 }

.blocked-url {

    height: 100px;
}